div.create_post_popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.74);
	z-index: 150;
	display: flex;
	justify-content: center;
	align-items: flex-start;

	div.create_post_popup_wrapper {
		margin-top: 90px;
		background-color: #fff;
		border-radius: 10px;
		color: #fff;
		width: 490px;

		div.create_post_popup_header {
			display: flex;
			justify-content: space-between;
			padding: 13px 4%;
			align-items: center;
			border-bottom: 1px solid #eee;

			div.label {
				font-size: 1.2rem;
				color: #000;
			}

			i {
				font-size: 1.3rem;
				color: #00000099;
				cursor: pointer;
			}
		}

		div.body {
			padding: 0 4%;
			margin-top: 10px;

			div.body_head {
				display: flex;
				align-items: center;

				div.name_and_privacy {
					margin-left: 10px;
					cursor: pointer;

					div.name {
						color: #000;
						font-weight: 700;
						font-size: 0.9rem;
					}
					div.privacy {
						border: 1px solid #333;
						border-radius: 40px;
						color: #000;
						display: flex;
						width: 110px;
						height: 27px;
						justify-content: space-evenly;
						align-items: center;

						&:hover {
							border: 2px solid #333;
							background-color: #0000001c;
						}

						i {
							font-size: 0.8rem;
							color: #00000099;
						}

						div.label {
							font-size: 0.9rem;
							display: flex;

							span {
								margin-left: 3px;
								position: relative;
								font-weight: 600;
								color: #00000099;
							}
						}
					}
				}
			}

			form {
				div.body_post_area {
					margin-top: 25px;
					height: 100px;
					div.post_field {
						textarea {
							width: 100%;
							resize: none;
							font-size: 1.25rem;
							border: none;
							outline: none;

							&::placeholder {
								color: #00000099;
							}
						}
					}
				}

				div.add_hash_tags {
					color: #000;
					padding-bottom: 10px;

					ul {
						display: flex;
						// justify-content: space-between;

						li {
							color: #0a66c2;
							font-weight: 600;
							cursor: pointer;
							padding: 2px;
							font-size: 1rem;

							&:not(:first-child) {
								margin-left: 15px;
							}

							&:hover {
								background-color: #389bff1f;
								border-radius: 5px;
							}
						}
					}
				}

				div.body_footer {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 15px 0;

					div.extras {
						display: flex;
						div {
							cursor: pointer;
							padding: 8px 6px;
							width: 35px;
							text-align: center;
							border-radius: 50%;

							&:hover {
								background-color: #eee;
								transition: background-color 0.2s ease-in-out;
							}

							&:not(:first-child) {
								margin-left: 5px;
							}
							i {
								color: #333333b9;
								font-size: 1.2rem;
							}
						}
					}

					div.submit_btn {
						border: 1px solid #eee;
						width: 60px;
						padding: 3px 8px;
						border-radius: 40px;
						button {
							border: none;
							outline: none;
						}
					}
				}
			}
		}
	}
}
