header.main_header {
  border-bottom: 1px solid #eee;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
  height: 5.6vh;
  min-height: 50px;
}

header.main_header div.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1020px;
  margin: 0 auto;
}

header.main_header div.logo_and_search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.main_header div.logo_and_search_bar div.logo_wrapper {
  margin-right: 5px;
}
