header.main_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6vh;
        min-height: 50px;
        padding: 0 4%;
        border-bottom: 1px solid #eee;
        position: sticky;
        top: 0;
        z-index: 100;
        div.logo_and_search_bar {
                display: flex;
                align-items: center;

                div.logo_wrapper {
                        margin-right: 5px;
                }
        }
}