div.post_form_toggler {
	display: flex;
	align-items: center;
	border: 1px solid #dadada;
	border-radius: 40px;
	height: 45px;
	padding: 0 4%;
	cursor: pointer;
	margin-bottom: 5px;

	&:hover {
		background-color: #f3f3f3d0;
		transition: background-color ease-in 0.2s;
	}

	&:active {
		background-color: #c4c4c485;
	}

	i {
		margin-right: 8px;
		color: #00000099;
		font-size: 1.2rem;
	}

	div.start_post {
		font-size: 0.8rem;
		color: #00000099;
	}
}
