div.post_and_user_options {
  position: relative;
}

div.post_and_user_options div.post_wrapper {
  position: relative;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  margin-top: 5px;
}

div.post_and_user_options div.post_wrapper div.post div.post_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_left div.image_wrapper {
  width: 45px;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_left div.image_wrapper img {
  border-radius: 50%;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_right {
  width: 100%;
  padding-left: 5px;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_right div.name_headline_time {
  font-size: 0.85rem;
  line-height: 1.3;
  position: relative;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_right div.name_headline_time div.headline {
  font-size: 0.75rem;
  color: #00000099;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_right div.name_headline_time div.time_access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_right div.name_headline_time div.time_access div.time {
  margin-right: 3px;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_right div.name_headline_time div.time_access div.ell {
  font-size: 0.4rem;
  color: #00000099;
  margin-right: 3px;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_right div.name_headline_time div.time_access i {
  font-size: 0.8rem;
  color: #00000099;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_right div.name_headline_time div.time {
  font-size: 0.75rem;
  color: #00000099;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_right div.name_headline_time div.name_ellipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_right div.name_headline_time div.name_ellipsis div.name {
  font-weight: 700;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_right div.name_headline_time div.name_ellipsis div.ellipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.5rem;
  color: #00000099;
  cursor: pointer;
  height: 100%;
  border-radius: 50%;
  position: relative;
  padding: 7px 2px;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_right div.name_headline_time div.name_ellipsis div.ellipsis:hover {
  background-color: #c6cfda65;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

div.post_and_user_options div.post_wrapper div.post div.post_header div.header_right div.name_headline_time div.name_ellipsis div.ellipsis div.ell:not(:last-child) {
  margin-right: 2px;
}

div.post_and_user_options div.post_wrapper div.post div.post_body {
  font-size: 0.9rem;
  margin-top: 8px;
  color: #333;
  border-bottom: 1px solid #dadada;
  padding-bottom: 8px;
}

div.post_and_user_options div.post_wrapper div.post div.post_body div.content {
  margin-bottom: 10px;
}

div.post_and_user_options div.post_wrapper div.post div.post_body div.comment_meta_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  color: #00000099;
}

div.post_and_user_options div.post_wrapper div.post div.post_body div.comment_meta_data div.reaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.post_and_user_options div.post_wrapper div.post div.post_body div.comment_meta_data div.reaction i {
  margin-right: 5px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  color: #0a66c2;
}

div.post_and_user_options div.post_wrapper div.post div.post_body div.comment_meta_data div.reaction_amount {
  position: relative;
  top: 1px;
  color: #00000099;
  cursor: pointer;
}

div.post_and_user_options div.post_wrapper div.post div.post_body div.comment_meta_data div.reaction_amount:hover {
  color: #0a66c2;
  text-decoration: underline;
}

div.post_and_user_options div.post_wrapper div.post div.post_body div.comment_meta_data div.comments {
  position: relative;
  top: 1px;
  cursor: pointer;
}

div.post_and_user_options div.post_wrapper div.post div.post_body div.comment_meta_data div.comments:hover {
  text-decoration: underline;
  color: #0a66c2;
}

div.post_and_user_options div.post_wrapper div.post div.post_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.post_and_user_options div.post_wrapper div.post div.post_footer div.liked_state div.icon_wrapper i {
  color: #0a66c2;
}

div.post_and_user_options div.post_wrapper div.post div.post_footer div.meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

div.post_and_user_options div.post_wrapper div.post div.post_footer div.meta:hover {
  background-color: #83838336;
}

div.post_and_user_options div.post_wrapper div.post div.post_footer div.meta i {
  font-size: 1.3rem;
  color: #00000099;
}

div.post_and_user_options div.post_wrapper div.post div.post_footer div.meta i.like {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

div.post_and_user_options div.post_wrapper div.post div.post_footer div.meta i.comment {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

div.post_and_user_options div.post_wrapper div.post div.post_footer div.meta i.icon {
  margin-right: 5px;
}

div.post_and_user_options div.post_wrapper div.post div.post_footer div.meta div.label {
  font-size: 0.9rem;
  color: #00000099;
  font-weight: 600;
}
