div.search_bar_wrapper {
  width: 250px;
  height: 30px;
}

div.search_bar_wrapper form {
  height: 100%;
}

div.search_bar_wrapper form div.search_icon_and_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #eef3f8;
  border: 1px solid #eee;
  border-radius: 5px;
}

div.search_bar_wrapper form div.search_icon_and_input div.icon_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 0 0 10px;
}

div.search_bar_wrapper form div.search_icon_and_input div.icon_wrapper i {
  font-size: .7rem;
  color: #00000099;
}

div.search_bar_wrapper form div.search_icon_and_input div.search input {
  padding-left: 5px;
  border-radius: 0 4px 4px 0;
}

div.search_bar_wrapper form div.search_icon_and_input div.search input:focus {
  padding-left: 15px;
}
