div.search_bar_wrapper { 
        width: 250px;
        height: 30px;
        
        form {
                height: 100%;
                div.search_icon_and_input {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        background-color: #eef3f8;
                        border: 1px solid #eee;
                        border-radius: 5px;

                        div.icon_wrapper {
                                display: flex;
                                align-items: center;
                                // width: 15%;
                                height: 100%;
                                padding: 0 0 0 10px;

                                i {
                                        font-size: .7rem;
                                        color: #00000099;
                                }
                        }

                        div.search {
                                input {
                                        padding-left: 5px;
                                        border-radius: 0 4px 4px 0;

                                        &:focus {
                                                padding-left: 15px;
                                        }
                                }
                        }
                }
        }
}
