@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

html,
body {
	font-family: "Nunito", sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

input {
	font-family: "Nunito", sans-serif;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background-color: transparent;
}

textarea {
	font-family: "Nunito", sans-serif;
}

button {
	background-color: transparent;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

img {
	display: block;
	width: 100%;
}
